@font-face {
  font-family: pixel;
  src: url(pixel.ttf);
}

body {
  background-image: url('bg.png');
  image-rendering: pixelated;
  font-family: pixel;
  font-size: 20px;
}

main {
  position: relative;
  top: 100px;
  left: 100px;
  width: 800px;
  height: 600px;
  background-image: url('window.png');
  background-repeat: no-repeat;
  z-index: 1;
}

.border {
  border: 1px solid black;
}

.caption {
  font-size: 14px;
}

.floatLeft {
  float: left;
  margin-right: 20px;
}

.floatRight {
  float: right;
  margin-left: 20px;
}

#gallery {
  display: flex;
  justify-content: space-around;
}

#gallery img {
  width: 180px;
  height: 120px;
}

#title {
  position: relative;
  top: 5px;
  left: 20px;
  color: white;
  height: 29px;
}

#content {
  padding: 0px 30px;
  position: relative;
  top: 13px;
  width: 740px;
  height: 556px;
  overflow: scroll;
  line-height: 28px;
}

.folder {
  position: absolute;
  background-image: url('folder.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  left: 1000px;
}

.highlight {
  opacity: .5;
}

#secrets {
  top: 80px;
}

#weird {
  top: 220px;
}

#uncanny {
  top: 360px;
}